venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.git
.gitignore
.env
*.env
.env.*
!.env*.example
.envs/**
!.envs/
!.envs/local/
!.envs/production/
!.envs/**/*.example
db.sqlite3
media
staticfiles
debug_resultado.jpg
debug_threshold.jpg
debug_*.jpg
gunicorn.ctl
dist
build
