__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc

# Django project database and media
/db.sqlite3
/db.sqlite3-journal
/media/

# Imagens de teste e debug do OMR
omr/*.jpg
omr/*.jpeg
omr/*.png

# Environments / Secrets
.env
*.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
/.env
//.env
/staticfiles
/debug_*.jpg
/gunicorn.ctl

# Build / coverage / eggs
dist/
build/
coverage/
*.coverage
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db