__pycache__/
*.py[cod]
*$py.class
*.log
*.pot
*.pyc

# Django project database and media
scan_api/db.sqlite3
scan_api/db.sqlite3-journal
scan_api/media/

# Environments / Secrets
.env
*.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
scan_api/.env
scan_api/scan_api/.env

# Build / coverage / eggs
dist/
build/
coverage/
*.coverage
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db